[req]
prompt                 = no
days                   = 365
distinguished_name     = req_distinguished_name


[req_distinguished_name]
countryName            = AB
stateOrProvinceName    = CD
localityName           = EFG_HIJ
organizationName       = MyOrg
organizationalUnitName = MyOrgUnit
commonName             = mycommname.com
emailAddress           = emailaddress@myemail.com
