[package]
name = "cardano-chain-follower"
edition.workspace = true
version.workspace = true
authors.workspace = true
rust-version.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
pallas.workspace = true

[dev-dependencies]
hex = "0.4.3"
tokio = { version = "1.34.0", default-features = false, features = ["macros", "rt", "net", "rt-multi-thread"] }
