[workspace]
resolver = "2"
members = [
    "bin",
    "crates/cardano-chain-follower",
    #"crates/turbo-downloader"
]

[workspace.package]
edition = "2021"
version = "0.0.1"
authors = ["Steven Johnson <steven.johnson@iohk.io>"]
homepage = "https://input-output-hk.github.io/hermes"
repository = "https://github.com/input-output-hk/hermes"
license = "MIT OR Apache-2.0"

[workspace.lints.rust]
warnings = "deny"
missing_docs = "deny"
let_underscore_drop = "deny"
non_ascii_idents = "deny"
single_use_lifetimes = "deny"
trivial_casts = "deny"
trivial_numeric_casts = "deny"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"
invalid_codeblock_attributes = "deny"
invalid_html_tags = "deny"
invalid_rust_codeblocks = "deny"
bare_urls = "deny"
unescaped_backticks = "deny"

[workspace.lints.clippy]
pedantic = "deny"
unwrap_used = "deny"
expect_used = "deny"
exit = "deny"
get_unwrap = "deny"
index_refutable_slice = "deny"
indexing_slicing = "deny"
match_on_vec_items = "deny"
match_wild_err_arm = "deny"
missing_panics_doc = "deny"
panic = "deny"
string_slice = "deny"
unchecked_duration_subtraction = "deny"
unreachable = "deny"
missing_docs_in_private_items = "deny"

[workspace.dependencies]
# specific commit from the `catalyst` branch
pallas = { git = "https://github.com/input-output-hk/catalyst-pallas.git", rev = "709acb19c52c6b789279ecc4bc8793b5d8b5abe9", version = "0.25.0" }
# specific commit from the `catalyst` branch
pallas-hardano = { git = "https://github.com/input-output-hk/catalyst-pallas.git", rev = "709acb19c52c6b789279ecc4bc8793b5d8b5abe9", version = "0.25.0" }

cardano-chain-follower = { path = "crates/cardano-chain-follower", version = "0.1.0" }
#turbo-downloader = { path = "crates/turbo-downloader", version = "0.1.0" }

wasmtime = "20.0.2"
rusty_ulid = "2.0.0"
anyhow = "1.0.71"
blake2b_simd = "1.0.2"
hex-literal = "0.4.1"
thiserror = "1.0.56"
hex = "0.4.3"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
test-log = { version = "0.2.16", default-features = false, features = [
    "trace",
] }
criterion = "0.5.1"
libtest-mimic = "0.7.0"
crossbeam-queue = "0.3.11"
bip39 = "2.0.0"
iana-time-zone = "0.1.60"
cryptoxide = "0.4.4"
rand = "0.8.5"
bip32 = "0.5.1"
ed25519-bip32 = "0.4.1"
dashmap = "5.5.3"
once_cell = "1.19.0"
clap = "4.5.3"
build-info = "0.0.36"
build-info-build = "0.0.36"
derive_more = "0.99.17"
chrono = "0.4.35"
chrono-tz = "0.9.0"
saffron = "0.1.0"
tokio = { version = "1.36.0", features = [
    "macros",
    "rt",
    "net",
    "rt-multi-thread",
    "process",
] }
tokio-util = { version = "0.7.11", features  = ["codec"] }
tokio-stream = "0.1.15"
libsqlite3-sys = "0.28.0"
stringzilla = "3.8.4"
serial_test = { version = "3.1.1", features = ["file_locks"] }
hdf5 = { git = "https://github.com/aldanor/hdf5-rust.git", rev = "694e900972fbf5ffbdd1a2294f57a2cc3a91c994", version = "0.8.1", features = [
    "static",
    "blosc",
] }
# needs to enable blosc compression functionality for hdf5 crate
blosc-src = { version = "0.3.0", features = ["lz4", "zlib", "zstd"] }
num_cpus = "1.16.0"
console = "0.15.8"
serde = "1.0"
serde_json = "1.0"
jsonschema = "0.18.0"
url = "2.5.0"
regex = "1.10.4"
humansize = { version = "^2.1.2", default-features = false, features = [
    "no_alloc",
] }
reqwest = { version = ">=0.0.0, 0.12.4", default-features = false, features = [
    "rustls-tls-native-roots",
    "http2",
    "blocking",
    "charset",
    "gzip",
    "brotli",
    "zstd",
    "deflate",
    "hickory-dns",
    "macos-system-configuration",
] }
mithril-client = { git = "https://github.com/input-output-hk/mithril.git", rev = "5ae2a7c7b0e977627edead521807b374d869ed84", version = "0.8.4", default-features = false, features = [
    "full",
] }
# This crate pulls in the LGPL-3.0+ Rug Library.  If this is a problem we need to modify it upstream to allow selection of numeric backend.
#mithril-stm = { git = "https://github.com/input-output-hk/mithril.git", rev = "5ae2a7c7b0e977627edead521807b374d869ed84", version = ">=0.0.0, 0.3.22", default-features = false, features = [
#    "num-integer-backend",
#] }

bytes = "1.6.0"

tar = "0.4.41"
flate2 = "1.0.30"
bzip2 = "^0.4.3"
lz4_flex = "0.11.3"
xz2 = "^0.1.7"
zstd = "0.13.1"
async-trait = "0.1.80"
dirs = "5.0.1"
futures = "0.3.30"
bytesize = "1.3.0"

async-compression = { version = "0.4.11", features = ["tokio","zstd"] }
tokio-tar = "0.3.1"