[workspace]
resolver = "2"
members = [
    "bin",
    "crates/cardano-chain-follower",
]

[workspace.package]
edition = "2021"
version = "0.0.1"
authors = [
    "Steven Johnson <steven.johnson@iohk.io>"
]
homepage = "https://input-output-hk.github.io/hermes"
repository = "https://github.com/input-output-hk/hermes"
license = "MIT OR Apache-2.0"

[workspace.lints.rust]
warnings = "deny"
missing_docs = "deny"
let_underscore_drop = "deny"
non_ascii_idents = "deny"
single_use_lifetimes = "deny"
trivial_casts = "deny"
trivial_numeric_casts = "deny"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"
invalid_codeblock_attributes = "deny"
invalid_html_tags = "deny"
invalid_rust_codeblocks = "deny"
bare_urls = "deny"
unescaped_backticks = "deny"

[workspace.lints.clippy]
pedantic = "deny"
unwrap_used = "deny"
expect_used = "deny"
exit = "deny"
get_unwrap = "deny"
index_refutable_slice = "deny"
indexing_slicing = "deny"
match_on_vec_items = "deny"
match_wild_err_arm = "deny"
missing_panics_doc = "deny"
panic = "deny"
string_slice = "deny"
unchecked_duration_subtraction = "deny"
unreachable = "deny"
missing_docs_in_private_items = "deny"

[workspace.dependencies]
pallas = { git = "https://github.com/input-output-hk/catalyst-pallas.git", branch = "fix/immutable-secondary", version = "0.24.0" }
pallas-hardano = { git = "https://github.com/input-output-hk/catalyst-pallas.git", branch = "fix/immutable-secondary", version = "0.24.0" }

cardano-chain-follower = { path = "crates/cardano-chain-follower", version = "0.0.1" }

wasmtime = "19.0.0"
rusty_ulid = "2.0.0"
anyhow = "1.0.71"
blake2b_simd = "1.0.2"
hex-literal = "0.4.1"
thiserror = "1.0.56"
hex = "0.4.3"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
criterion = "0.5.1"
libtest-mimic = "0.7.0"
crossbeam-queue = "0.3.11"
bip39 = "2.0.0"
iana-time-zone = "0.1.60"
cryptoxide = "0.4.4"
rand = "0.8.5"
bip32 = "0.5.1"
ed25519-bip32 = "0.4.1"
dashmap = "5.5.3"
once_cell = "1.19.0"
clap = "4.5.3"
build-info = "0.0.36"
derive_more = { version= "0.99.17", default-features= false }
build-info-build = "0.0.36"
chrono = "0.4.35"
chrono-tz = "0.8.6"
saffron = "0.1.0"
tokio = "1.36.0"
libsqlite3-sys = "0.28.0"
stringzilla = "3.8.4"