[package]
name = "hermes"
description = "The Hermes Node"
keywords = ["cardano", "catalyst", "hermes"]
categories = ["command-line-utilities"]
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[features]
bench = ["dep:criterion"]

[lints]
workspace = true

[[bench]]
name = "module"
harness = false
required-features = ["bench"]

[dependencies]
wasmtime = { workspace = true, features = ["component-model"] }
rusty_ulid = { workspace = true }
anyhow = { workspace = true }
blake2b_simd = { workspace = true }
hex-literal = { workspace = true }
thiserror = { workspace = true }
criterion = { workspace = true, optional = true }
libtest-mimic = { workspace = true }
crossbeam-queue = { workspace = true }
bip39 = { workspace = true, features = ["chinese-simplified", "chinese-traditional", "czech", "french", "italian", "japanese", "korean", "spanish" ] }
cryptoxide = { workspace = true }
rand = { workspace = true }
bip32 = { workspace = true }
ed25519-bip32 = { workspace = true }
dashmap = { workspace = true }
once_cell = { workspace = true }
chrono = { workspace = true, features = ["now"] }
chrono-tz = { workspace = true }
iana-time-zone = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt","sync",  "time"] }
saffron = { workspace = true }

[[test]]
name = "wasm-component-integration-tests"
path = "tests/wasm-integration/main.rs"
harness = false
