[package]
name = "hermes"
description = "The Hermes Node"
keywords = ["cardano", "catalyst", "hermes"]
categories = ["command-line-utilities"]
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[features]
bench = ["dep:criterion"]

[lints]
workspace = true

[[bench]]
name = "module"
harness = false
required-features = ["bench"]

[dependencies]
wasmtime = { workspace = true, features = ["component-model"] }
rusty_ulid = { workspace = true }
anyhow = { workspace = true }
blake2b_simd = { workspace = true }  
hex-literal = { workspace = true }  
thiserror = { workspace = true }
criterion = { workspace = true, optional = true }
chrono = { workspace = true, features = ["now"] }
dashmap = { workspace = true }
once_cell = { workspace = true }
saffron = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt","sync",  "time"] }
