[package]
name = "hermes"
description = "The Hermes Node"
keywords = ["cardano", "catalyst", "hermes"]
categories = ["command-line-utilities"]
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
wasmtime = { workspace = true, features = ["component-model"] }
